.botSettingsPagePaper {
  max-width: 800px;
  margin: 15px auto 15px auto;
}

.botSettingsPageSaveButtonPaper {
  max-width: 800px;
  margin: 15px auto 15px auto;
  padding: 10px;
}

.botSettingsSaveButton {
  margin-left: auto;
  margin-right: 10px;
}

